@* <!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Best luxurious apartments in Dubai | VOYE HOMES</title>
	<meta name="description" content="Blueprint: Slide and Push Menus" />
	<meta name="keywords" content="sliding menu, pushing menu, navigation, responsive, menu, css, jquery" />
	<meta name="author" content="Codrops" />
	<link rel="shortcut icon" href="../favicon.ico">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


	<link rel="stylesheet" href="~/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/css/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="~/css/default.css" />
	<link rel="stylesheet" type="text/css" href="~/css/component.css" />
	<link rel="stylesheet" type="text/css" href="~/css/glightbox.min.css" />

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="~/js/modernizr.custom.js"></script>
	<script src="~/js/jquery-3.7.1.min.js"></script>
	<script src="~/js/owl.carousel.min.js"></script>
	<script src="~/js/scripts.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
	<script src="~/js/classie.js"></script>



</head>
<body class="cbp-spmenu-push">

	<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
		<ul>
			<li><a href="~/about/experience" class="mob">The Experience</a></li>
			<li><a href="index.html#stay" class="mob">The Stay</a></li>
			<li><a href="~/about/about">About Voye</a></li>
			<li><a href="~/about/contact">Contact us</a></li>
			<li><a href="partner-with-us.html">Partner with us</a></li>
			<li><a href="gift-card.html">Gift Card</a></li>
			<li><a href="https://blog.voyehomes.com/" target="_blank">Blog</a></li>
		</ul>
		<div class="normal-links">
			<ul>
				<li><a href="terms-conditions.html">Terms & Conditions</a></li>
				<li><a href="cancellations-refund-policy.html">Cancellations & Refund Policy</a></li>
				<li><a href="jobs-and-internships.html">Jobs and Internships</a></li>
				<li><a href="privacy-policy.html">Privacy Policy</a></li>
			</ul>
		</div>
	</nav>

	<header class="top-header">
		<div class="left">
			<ul>
				<li><a href="~/about/experience">The Experience</a></li>
				<li><a href="~/home/index#stay">The Stay</a></li>
				<li><a href="~/about/about">About Voye</a></li>
			</ul>
		</div>
		<div class="right social">
			<ul>
				<li><a href="mailto:reservations@voye.in" class="normal">reservations@voye.in</a></li>
				<li>
					<a href="#">
						<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 24 24">
							<path d="M19,3H5C3.895,3,3,3.895,3,5v14c0,1.105,0.895,2,2,2h7.621v-6.961h-2.343v-2.725h2.343V9.309 c0-2.324,1.421-3.591,3.495-3.591c0.699-0.002,1.397,0.034,2.092,0.105v2.43h-1.428c-1.13,0-1.35,0.534-1.35,1.322v1.735h2.7 l-0.351,2.725h-2.365V21H19c1.105,0,2-0.895,2-2V5C21,3.895,20.105,3,19,3z"></path>
						</svg>
					</a>
				</li>
				<li>
					<a href="#">
						<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 24 24">
							<path d="M19,3H5C3.895,3,3,3.895,3,5v14c0,1.105,0.895,2,2,2h14c1.105,0,2-0.895,2-2V5C21,3.895,20.105,3,19,3z M9,17H6.477v-7H9 V17z M7.694,8.717c-0.771,0-1.286-0.514-1.286-1.2s0.514-1.2,1.371-1.2c0.771,0,1.286,0.514,1.286,1.2S8.551,8.717,7.694,8.717z M18,17h-2.442v-3.826c0-1.058-0.651-1.302-0.895-1.302s-1.058,0.163-1.058,1.302c0,0.163,0,3.826,0,3.826h-2.523v-7h2.523v0.977 C13.93,10.407,14.581,10,15.802,10C17.023,10,18,10.977,18,13.174V17z"></path>
						</svg>
					</a>
				</li>
				<li>
					<a href="#">
						<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 24 24">
							<path d="M 8 3 C 5.239 3 3 5.239 3 8 L 3 16 C 3 18.761 5.239 21 8 21 L 16 21 C 18.761 21 21 18.761 21 16 L 21 8 C 21 5.239 18.761 3 16 3 L 8 3 z M 18 5 C 18.552 5 19 5.448 19 6 C 19 6.552 18.552 7 18 7 C 17.448 7 17 6.552 17 6 C 17 5.448 17.448 5 18 5 z M 12 7 C 14.761 7 17 9.239 17 12 C 17 14.761 14.761 17 12 17 C 9.239 17 7 14.761 7 12 C 7 9.239 9.239 7 12 7 z M 12 9 A 3 3 0 0 0 9 12 A 3 3 0 0 0 12 15 A 3 3 0 0 0 15 12 A 3 3 0 0 0 12 9 z"></path>
						</svg>
					</a>
				</li>
				<li>
					<a href="#">
						<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 24 24">
							<path d="M21.582,6.186c-0.23-0.86-0.908-1.538-1.768-1.768C18.254,4,12,4,12,4S5.746,4,4.186,4.418 c-0.86,0.23-1.538,0.908-1.768,1.768C2,7.746,2,12,2,12s0,4.254,0.418,5.814c0.23,0.86,0.908,1.538,1.768,1.768 C5.746,20,12,20,12,20s6.254,0,7.814-0.418c0.861-0.23,1.538-0.908,1.768-1.768C22,16.254,22,12,22,12S22,7.746,21.582,6.186z M10,15.464V8.536L16,12L10,15.464z"></path>
						</svg>
					</a>
				</li>
			</ul>
		</div>
	</header>

	<div class="left-panel">
		<a href="~/home/index" class="brand"><img src="~/img/voye-brand-gold.png" alt="Voye Apartment for rent" class="img-fluid" /></a>
		<section class="d-none">
			<button id="showLeft"></button>
		</section>
		<div class="buttonset">
			<button id="showLeftPush">
				<div class="frame">
					<div class="menu-icon">
						<div class="line-1 no-animation"></div>
						<div class="line-2 no-animation"></div>
						<div class="line-3 no-animation"></div>
					</div>
				</div>
			</button>
		</div>
		<a href="~/property/detail#booking" class="cta">Book Now</a>
	</div> *@


	<section class="inner-wrapper d-none">
		<div class="container-sm">
			<div id="gallery" class="photos-grid-container gallery">
				<div class="main-photo img-box">
					<a href="~/img/property/al-qanat/photo1.jpeg" class="glightbox" data-glightbox="type: image"><img src="~/img/property/al-qanat/photo1.jpeg" alt="image" /></a>
				</div>
				<div>
					<div class="sub">
						<div class="img-box"><a href="img/property/al-qanat/photo2.jpeg" class="glightbox" data-glightbox="type: image"><img src="img/property/al-qanat/photo2.jpeg" alt="image" /></a></div>
						<div class="img-box"><a href="img/property/al-qanat/photo3.jpeg" class="glightbox" data-glightbox="type: image"><img src="img/property/al-qanat/photo3.jpeg" alt="image" /></a></div>
						<div class="img-box"><a href="img/property/al-qanat/photo4.jpeg" class="glightbox" data-glightbox="type: image"><img src="img/property/al-qanat/photo4.jpeg" alt="image" /></a></div>
						<div id="multi-link" class="img-box">
							<a href="~/img/property/al-qanat/photo5.jpeg" class="glightbox" data-glightbox="type: image">
								<img src="~/img/property/al-qanat/photo5.jpeg" alt="image" />
								<div class="transparent-box">
									<div class="caption">
										+10
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div id="more-img" class="extra-images-container hide-element">
					<a href="img/property/al-qanat/photo5.jpeg" class="glightbox" data-glightbox="type: image"><img src="img/property/al-qanat/photo5.jpeg" alt="image" /></a>
					<a href="img/property/al-qanat/photo6.jpeg" class="glightbox" data-glightbox="type: image"><img src="img/property/al-qanat/photo6.jpeg" alt="image" /></a>
					<a href="img/property/al-qanat/photo7.jpeg" class="glightbox" data-glightbox="type: image"><img src="img/property/al-qanat/photo7.jpeg" alt="image" /></a>
					<a href="img/property/al-qanat/photo8.jpeg" class="glightbox" data-glightbox="type: image"><img src="img/property/al-qanat/photo8.jpeg" alt="image" /></a>
					<a href="img/property/al-qanat/photo9.jpeg" class="glightbox" data-glightbox="type: image"><img src="img/property/al-qanat/photo9.jpeg" alt="image" /></a>
					<a href="img/property/al-qanat/photo12.jpeg" class="glightbox" data-glightbox="type: image"><img src="img/property/al-qanat/photo10.jpeg" alt="image" /></a>
					<a href="img/property/al-qanat/photo11.jpeg" class="glightbox" data-glightbox="type: image"><img src="img/property/al-qanat/photo11.jpeg" alt="image" /></a>
					<a href="img/property/al-qanat/photo12.jpeg" class="glightbox" data-glightbox="type: image"><img src="img/property/al-qanat/photo12.jpeg" alt="image" /></a>
					<a href="img/property/al-qanat/photo13.jpeg" class="glightbox" data-glightbox="type: image"><img src="img/property/al-qanat/photo13.jpeg" alt="image" /></a>
					<a href="img/property/al-qanat/photo14.jpeg" class="glightbox" data-glightbox="type: image"><img src="img/property/al-qanat/photo14.jpeg" alt="image" /></a>
					<a href="img/property/al-qanat/photo15.jpeg" class="glightbox" data-glightbox="type: image"><img src="img/property/al-qanat/photo15.jpeg" alt="image" /></a>
				</div>
			</div>
		</div>
		</div>
	</section>

	<section class="inner-wrapper experience">

		<div class="container-sm">
			<div class="row">
				<!-- Detail -->
				<div class="col-md-6">
					<div class="section-head">
						<h3 class="line">Experience the Luxury</h3>
						<h4 class="h1"><span class="t-italic c-brand">Delivered</span> a best-in class stacation</h4>
					</div>

					<div class="values">
						<div class="privacy">Choice for<br />privacy</div>
						<div class="vacation">Ambience of<br />A vacation</div>
						<div class="hotel">excellence of<br />A hotel</div>
					</div>

					<!-- Expand Details -->
					<div>
						<p>We provide luxurious apartments in Dubai, along with comfortable Plantation Villas, Private Holiday Homes, and Heritage Bungalows in India, each with unique charm and appeal. Our focus is on quality accommodation, offering more comfort, flexibility, amenities, freedom, and privacy than standard hotel rooms</p>
					</div>


				</div>
				<!-- Images -->
				<div class="col-md-6 detail-left">
					<img src="~/img/experience.png" alt="image" class="img-fluid" />
				</div>
			</div>

		</div>

		<div class="container-sm">
			<ul class="nav nav-tabs" role="tablist">
				<li class="nav-item">
				<a href="#bookings" role="tab" data-toggle="tab" class="nav-link active"> Bookings</a>
				</li>
				<li class="nav-item">
					<a href="#amenities" role="tab" data-toggle="tab" class="nav-link"> Amenities </a>
				</li>
				<li class="nav-item">
					<a href="#housekeeping" role="tab" data-toggle="tab" class="nav-link"> Housekeeping </a>
				</li>
				<li class="nav-item">
				<a href="#premium" role="tab" data-toggle="tab" class="nav-link"> Premium Services </a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" role="tabpanel" id="bookings">
					<div class="row">
						<div class="col-md-6">
							<img src="~/img/experience-booking.png" alt="image" class="img-fluid" />
						</div>
						<div class="col-md-6">
							<div class="middle-container">
								<div class="text-middle">
								<h3 class="project-name pb-3">
									Book Your Dubai Stay Effortlessly
								</h3>
								<p>
									Planning your Dubai getaway has never been easier. Voye Homes makes it simple to book
									your ideal accommodation through our user-friendly online platform. Whether you're a
									business traveler or on vacation, choose from our range of staycations across <strong>Dubai</strong>'s
									prime locations. Just a few clicks, and you'll be all set for a seamless stay. With our flexible
									booking options, competitive rates, and exceptional customer service, your next Dubai
									experience starts here.
								</p>
									@* <ul class="listing pt-3">
										<li>Load and update information about</li>
										<li>Everything in your hotel in real time</li>
										<li>Receive your guests' requests immediately</li>
										<li>Bookings and ordering</li>
									</ul> *@
								</div>
							</div>
						</div>
					</div>
				</div>
			<div class="tab-pane" role="tabpanel" id="amenities">
				<div class="row">
					<div class="col-md-6">
						<img src="~/img/experience-booking.png" alt="image" class="img-fluid" />
					</div>
					<div class="col-md-6">
						<div class="middle-container">
							<div class="text-middle">
								<h3 class="project-name pb-3">
									Elevate Your Dubai Stay with Voye Homes
								</h3>
								<p>
									Discover the perfect blend of style and convenience with Voye Homes', strategically
									located near Dubai’s top attractions. Whether you're visiting for business or leisure, our
									properties offer a refined living experience with fully equipped kitchens, spacious living
									areas, and access to premium amenities like gym, swimming pool, wifi, parking, Kids play
									area etc, Tailored for those seeking luxury and flexibility, Voye Homes is your go-to for a
									memorable staycation or extended stay in Dubai.
								</p>
								@* <ul class="listing pt-3">
								<li>Load and update information about</li>
								<li>Everything in your hotel in real time</li>
								<li>Receive your guests' requests immediately</li>
								<li>Bookings and ordering</li>
								</ul> *@
							</div>
						</div>
					</div>
				</div>
				</div>
				<div class="tab-pane" role="tabpanel" id="housekeeping">
				<div class="row">
					<div class="col-md-6">
						<img src="~/img/experience-booking.png" alt="image" class="img-fluid" />
					</div>
					<div class="col-md-6">
						<div class="middle-container">
							<div class="text-middle">
								<h3 class="project-name pb-3">
									Exceptional Housekeeping Services
								</h3>
								<p>
									At Voye Homes, we recognize the significance of a clean and comfortable
									environment during your stay. Our dedicated housekeeping team provides
									personalized attention to your needs and preferences, ensuring your
									staycation is immaculate and welcoming. With our meticulous approach to
									cleanliness, you can relax and fully enjoy your Dubai getaway, confident that
									your comfort is our top priority.

								</p>
								@* <ul class="listing pt-3">
								<li>Load and update information about</li>
								<li>Everything in your hotel in real time</li>
								<li>Receive your guests' requests immediately</li>
								<li>Bookings and ordering</li>
								</ul> *@
							</div>
						</div>
					</div>
				</div>
				</div>
			<div class="tab-pane" role="tabpanel" id="premium">
				<div class="row">
					<div class="col-md-6">
						<img src="~/img/experience-booking.png" alt="image" class="img-fluid" />
					</div>
					<div class="col-md-6">
						<div class="middle-container">
							<div class="text-middle">
								<h3 class="project-name pb-3">
									Premium Services for an Enhanced Stay
								</h3>
								<p>
									At Voye Homes, we believe in offering our guests a truly luxurious experience.
									Elevate your stay with our premium services designed to provide relaxation and
									convenience. Indulge in our spa services, where skilled therapists offer a range of
									treatments to rejuvenate your body and mind, ensuring you leave feeling refreshed
									and revitalized. Additionally, we provide messaging services that cater to your
									needs, from booking activities to arranging dining experiences, all at an additional
									cost. Experience the best of Dubai with our personalized premium services, making
									your stay even more memorable.
								</p>
								@* <ul class="listing pt-3">
								<li>Load and update information about</li>
								<li>Everything in your hotel in real time</li>
								<li>Receive your guests' requests immediately</li>
								<li>Bookings and ordering</li>
								</ul> *@
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>

		<div class="container-sm" style="display:none;">
			<div class="row logos">
				<img src="~/img/logos.png" alt="image" class="img-fluid" />
				<img src="~/img/logos.png" alt="image" class="img-fluid" />
				<img src="~/img/logos.png" alt="image" class="img-fluid" />
				<img src="~/img/logos.png" alt="image" class="img-fluid" />
				<img src="~/img/logos.png" alt="image" class="img-fluid" />
			</div>
		</div>

	</section>




	@* <section class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-5">
							<img src="~/img/voye-gold.png" alt="Voye homes">
						</div>
						<div class="col-md-7">
							<h4>Wiser choice for your next gateway!</h4>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6">
							<ul>
								<li><a href="#">About us</a></li>
								<li><a href="#">Contact us</a></li>
								<li><a href="#">Partner with us</a></li>
								<li><a href="#">Gift Card</a></li>
								<li><a href="#">Blog</a></li>
							</ul>
						</div>
						<div class="col-md-6">
							<ul>
								<li><a href="#">Terms & Conditions</a></li>
								<li><a href="#">Cancellations & Refund Policy</a></li>
								<li><a href="#">Jobs and Internships</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="row connects">
				<div class="connects-head">
					<div class="title">Booking avaible anytime</div>
					<div class="social">
						<ul>
							<li>
								<a href="#">
									<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 24 24">
										<path d="M19,3H5C3.895,3,3,3.895,3,5v14c0,1.105,0.895,2,2,2h7.621v-6.961h-2.343v-2.725h2.343V9.309 c0-2.324,1.421-3.591,3.495-3.591c0.699-0.002,1.397,0.034,2.092,0.105v2.43h-1.428c-1.13,0-1.35,0.534-1.35,1.322v1.735h2.7 l-0.351,2.725h-2.365V21H19c1.105,0,2-0.895,2-2V5C21,3.895,20.105,3,19,3z"></path>
									</svg>
								</a>
							</li>
							<li>
								<a href="#">
									<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 24 24">
										<path d="M19,3H5C3.895,3,3,3.895,3,5v14c0,1.105,0.895,2,2,2h14c1.105,0,2-0.895,2-2V5C21,3.895,20.105,3,19,3z M9,17H6.477v-7H9 V17z M7.694,8.717c-0.771,0-1.286-0.514-1.286-1.2s0.514-1.2,1.371-1.2c0.771,0,1.286,0.514,1.286,1.2S8.551,8.717,7.694,8.717z M18,17h-2.442v-3.826c0-1.058-0.651-1.302-0.895-1.302s-1.058,0.163-1.058,1.302c0,0.163,0,3.826,0,3.826h-2.523v-7h2.523v0.977 C13.93,10.407,14.581,10,15.802,10C17.023,10,18,10.977,18,13.174V17z"></path>
									</svg>
								</a>
							</li>
							<li>
								<a href="#">
									<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 24 24">
										<path d="M 8 3 C 5.239 3 3 5.239 3 8 L 3 16 C 3 18.761 5.239 21 8 21 L 16 21 C 18.761 21 21 18.761 21 16 L 21 8 C 21 5.239 18.761 3 16 3 L 8 3 z M 18 5 C 18.552 5 19 5.448 19 6 C 19 6.552 18.552 7 18 7 C 17.448 7 17 6.552 17 6 C 17 5.448 17.448 5 18 5 z M 12 7 C 14.761 7 17 9.239 17 12 C 17 14.761 14.761 17 12 17 C 9.239 17 7 14.761 7 12 C 7 9.239 9.239 7 12 7 z M 12 9 A 3 3 0 0 0 9 12 A 3 3 0 0 0 12 15 A 3 3 0 0 0 15 12 A 3 3 0 0 0 12 9 z"></path>
									</svg>
								</a>
							</li>
							<li>
								<a href="#">
									<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 24 24">
										<path d="M21.582,6.186c-0.23-0.86-0.908-1.538-1.768-1.768C18.254,4,12,4,12,4S5.746,4,4.186,4.418 c-0.86,0.23-1.538,0.908-1.768,1.768C2,7.746,2,12,2,12s0,4.254,0.418,5.814c0.23,0.86,0.908,1.538,1.768,1.768 C5.746,20,12,20,12,20s6.254,0,7.814-0.418c0.861-0.23,1.538-0.908,1.768-1.768C22,16.254,22,12,22,12S22,7.746,21.582,6.186z M10,15.464V8.536L16,12L10,15.464z"></path>
									</svg>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 p-0">
					<div class="row m-0">
						<div class="d-flex">
							<a href="#" class="normal">reservations@voye.in</a>
							<a href="#" class="normal">+971 01 234 5678</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 p-0">
					<div class="row">
						<div class="col-md-12">
							<p class="copyrights text-right">Copyright VOYE Homes 2024. All Rights Reserved</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>

</body>
</html> *@
