<section class="inner-wrapper-nospace">

	<div class="container-sm">
		<div class="row">
			<!-- Detail -->
			<div class="col-md-12">
				<div class="section-head pb-4">
					<h3 class="line">VOYE Jobs and Internships</h3>
				</div>
			</div>
		</div>
		<div class="terms">
			<div class="wrapper">
				<h3>Join us to weave the magic of great travel experiences</h3>
				<h3><strong>Email your resume to <a href="mailto:support@voye.in">careers@voye.in</a></strong></h3>
				<p>&nbsp;</p>

				<p>Are you passionate about working in a hospitality start-up, to explore, greet and meet new people, understand our vibrant culture, and can still make an impact on business, if yes, then here we are who are passionate to support your aspirations, full fill your dreams, passion and more importantly you become the voice of our aspirations and will be etched in the memories of our progress, will enable your learnings are echoed to our travellers. So be part of our journey with a fulfilling experiences.</p>

				<p>&nbsp;</p>

				<p><big><u><strong>Current Openings:&nbsp;</strong></u></big></p>

				<h5><big><strong>1. </strong></big><big><strong>Travel Consultant</strong></big></h5>

				<p><strong>Location: Calicut &amp;&nbsp;Kochi, Kerala</strong></p>

				<p>We are looking for energetic Travel Consultants to attend a large amount of inbound customer enquiries and convert them to successful check-ins. You will be required to attend customer calls and describe them about our properties and convert them to bookings. Also, you will be responsible for payment follow-ups and booking follow-ups. Your contribution will help enhance our sales and customer satisfaction.</p>

				<p><strong>Designation: Travel Consultant</strong></p>

				<p><strong>Qualifications</strong></p>

				<ul>
					<li>Diploma, Graduates, Post Graduates&nbsp;</li>
					<li>01-02&nbsp;years of experience in the hospitality domain.</li>
					<li>Excellent command over English and Malayalam</li>
				</ul>

				<p><strong>Responsibilities</strong></p>

				<ul>
					<li>Manage large amounts of incoming calls (Average 50 calls in a day)</li>
					<li>Manage incoming service calls.</li>
					<li>Identify and assess customers&rsquo; needs to achieve satisfaction</li>
					<li>Build sustainable relationships and trust with customer accounts through open and interactive communication</li>
					<li>Provide accurate, valid, and complete information about our holiday homes</li>
					<li>Handle customer complaints, provide appropriate solutions and alternatives within the time limits; follow up to ensure resolution.</li>
				</ul>

				<p><strong>Email your resume to <a href="mailto:support@voye.in">careers@voye.in</a>&nbsp;</strong></p>

				<h5><strong>2. Revenue and Supply Manager</strong></h5>

				<p><strong>Location : GOA/KARNATAKA/MAHARASTRA (REMOTE WORK)</strong></p>

				<p><strong>Qualification</strong></p>

				<ul>
					<li>Graduates/Post Graduates from Travel Industry</li>
					<li>2- 4 years experience in Revenue Management and Property Onboarding</li>
					<li>Excellent Communication Skills</li>
				</ul>

				<p><strong>Roles and Responsibilities</strong></p>

				<ul>
					<li>Responsible for onboarding potential holiday homes/resorts/ hotels to our network.</li>
					<li>Acquisition of properties that are similar to our kind of stays (experiential stays, Holiday homes/resorts/hotels) with the prior approval of management.</li>
					<li>Adding properties to the specific locations that are assigned to you by the management.</li>
					<li>Work as an accountable owner for properties onboarded and managed by you.</li>
					<li>Create and develop pricing strategies in conjunction with the individuality of each holiday home.</li>
					<li>OTA optimizations and listing.</li>
					<li>Provide a weekly dynamic forecast of expected results, variances and budget comparisons.</li>
					<li>Manage and oversee strategy for all 3rd party distribution.</li>
					<li>Responsible for assessing, analyzing and pricing group business strategies.</li>
					<li>Analyse overall monthly hotel/property performance and provide a summary report with recommendations to improve long-term strategies.</li>
					<li>Ensure all related systems are configured correctly, validate and working to full capacity.</li>
					<li>Work together with the Reservations Team to optimize inventory based on demand and availability.</li>
					<li>Oversee and audit the standards and operations of the reservations department.</li>
					<li>Ensure the website booking process is maintained up-to-date and functional.</li>
					<li>Ensure sales through online travel platforms.</li>
				</ul>

				<p><strong>Email your resume to <a href="mailto:support@voye.in">careers@voye.in</a>&nbsp;</strong></p>

				<h5>&nbsp;</h5>

			</div>
		</div>
	</div>

</section>