<section class="inner-wrapper-nospace">

	<div class="container-sm">
		<div class="row">
			<!-- Detail -->
			<div class="col-md-12">
				<div class="section-head pb-4">
					<h3 class="line">VOYE Privacy Policy</h3>
				</div>
			</div>
		</div>
		<div class="terms">
			<div class="wrapper">
				<h4>Use of Personal Information &ndash; <strong><u>UAE Data Protection Law & General Data Protection Regulation (EU)</u></strong></h4>

				<p>&nbsp;</p>

				<p>At <strong>VOYE HOMES Dubai</strong>, we prioritize the privacy and confidentiality of your personal information. We do not share your personal data with other services without your explicit consent. To safeguard your information from unauthorized access, inappropriate use, or disclosure, we have implemented robust security measures and strict policy guidelines. For any questions, please contact us at support@voye.in.</p>

				<p>In connection with booking transactions, <strong>VOYE HOMES Dubai</strong> and its authorized personnel may collect certain personal information from you for reservation purposes. We assure you that no information collected will be shared or used without your permission.</p>

				<p>The following personal data may be collected:</p>

				<p><strong>Name/ Sex / Phone Number / Address / Date of birth</strong></p>

				<p>Purpose of Collected Information</p>

				<p>The information collected is used for:</p>

				<p>-Ensuring smooth reservations and check-in by sharing essential details with caretakers or service providers (e.g., name, address, phone number, guest details).</p>

				<p- Limited promotional communications from VOYE HOMES, such as exclusive offers, unless you opt-out of such communications.></p->

				<p>&nbsp;</p>

				<h4><strong>Social Networking Sites content (SNS)</strong></h4>

				<p>VOYE HOMES Dubai does not monitor content posted on social networking sites (SNS) for any reason, including but not limited to accuracy or legality. We are not responsible for any content posted or tagged by customers, third parties, or service providers.</p>

				<p>&nbsp;</p>

				<h4><strong>Payment Security Regulations</strong></h4>

				<p>We use secure digital payment methods such as Netbanking, UAE-based payment gateways, and Razorpay. Payment transactions occur directly with banks or gateways, and VOYE HOMES Dubai does not collect or store sensitive banking information. If a payment fails, customers must initiate an alternative payment. It is the customer’s responsibility to inform us about any payment issues.</p>

				<p>&nbsp;</p>

				<h4><strong>Copyrights and Trade Mark Regulations</strong></h4>

				<p>Our website and social media channels contain various trademarks, logos, and service marks exclusive to VOYE HOMES Dubai. Displaying these marks does not imply a license to use them. Unauthorized use of content may infringe copyright, trademark, privacy, or other laws. Our site content, including audio, images, text, software, and videos, is protected by international intellectual property laws. No user may copy, distribute, reproduce, or modify our content without prior permission.</p>

				<p>&nbsp;</p>

				<h4><strong>Intellectual Property and Use Restrictions</strong></h4>

				<p>The information and infrastructure on this website (including price and service availability) are proprietary to VOYE HOMES Dubai or affiliated property owners. Users may make limited copies for travel or service purposes, but may not modify, distribute, or resell any content, software, or services obtained from this website.</p>

				<p>&nbsp;</p>

				<h4><strong>External Relationships</strong></h4>

				<p>VOYE HOMES Dubai has no agency, partnership, joint venture, or franchisor-franchisee relationship with any user or service provider on our platform.</p>

				<p>&nbsp;</p>

				<h4><strong>Arbitration</strong></h4>

				<p>If any disputes arise during your use of the VOYE HOMES Dubai website, they will be referred to a sole arbitrator appointed by VOYE HOMES. Arbitration proceedings will be governed by the UAE’s arbitration regulations and conducted in English. Arbitration location: Dubai, UAE.</p>

				<p>&nbsp;</p>

				<h4><strong>Jurisdiction</strong></h4>

				<p>VOYE HOMES Dubai adheres to the laws and jurisdiction of the UAE. We expressly disclaim any implied warranties from the laws of jurisdictions outside the UAE. VOYE HOMES Dubai is subject exclusively to the jurisdiction of the UAE courts.</p>

			</div>
		</div>
	</div>

</section>