@* <!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Best luxurious apartments in Dubai | VOYE HOMES</title>
	<meta name="description" content="Blueprint: Slide and Push Menus" />
	<meta name="keywords" content="sliding menu, pushing menu, navigation, responsive, menu, css, jquery" />
	<meta name="author" content="Codrops" />
	<link rel="shortcut icon" href="../favicon.ico">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


	<link rel="stylesheet" href="~/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/css/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="~/css/default.css" />
	<link rel="stylesheet" type="text/css" href="~/css/component.css" />
	<link rel="stylesheet" type="text/css" href="~/css/glightbox.min.css" />

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="~/js/modernizr.custom.js"></script>
	<script src="~/js/jquery-3.7.1.min.js"></script>
	<script src="~/js/owl.carousel.min.js"></script>
	<script src="~/js/classie.js"></script>
	<script src="~/js/scripts.js"></script>



</head>
<body class="cbp-spmenu-push">

	<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
		<ul>
			<li><a href="~/about/experience" class="mob">The Experience</a></li>
			<li><a href="index.html#stay" class="mob">The Stay</a></li>
			<li><a href="~/about/about">About Voye</a></li>
			<li><a href="~/about/contact">Contact us</a></li>
			<li><a href="partner-with-us.html">Partner with us</a></li>
			<li><a href="gift-card.html">Gift Card</a></li>
			<li><a href="https://blog.voyehomes.com/" target="_blank">Blog</a></li>
		</ul>
		<div class="normal-links">
			<ul>
				<li><a href="~/about/terms">Terms & Conditions</a></li>
				<li><a href="cancellations-refund-policy.html">Cancellations & Refund Policy</a></li>
				<li><a href="jobs-and-internships.html">Jobs and Internships</a></li>
				<li><a href="privacy-policy.html">Privacy Policy</a></li>
			</ul>
		</div>
	</nav>

	<header class="top-header">
		<div class="left">
			<ul>
				<li><a href="~/about/experience">The Experience</a></li>
				<li><a href="~/home/index#stay">The Stay</a></li>
				<li><a href="~/about/about">About Voye</a></li>
			</ul>
		</div>
		<div class="right social">
			<ul>
				<li><a href="mailto:reservations@voye.in" class="normal">reservations@voye.in</a></li>
				<li>
					<a href="#">
						<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 24 24">
							<path d="M19,3H5C3.895,3,3,3.895,3,5v14c0,1.105,0.895,2,2,2h7.621v-6.961h-2.343v-2.725h2.343V9.309 c0-2.324,1.421-3.591,3.495-3.591c0.699-0.002,1.397,0.034,2.092,0.105v2.43h-1.428c-1.13,0-1.35,0.534-1.35,1.322v1.735h2.7 l-0.351,2.725h-2.365V21H19c1.105,0,2-0.895,2-2V5C21,3.895,20.105,3,19,3z"></path>
						</svg>
					</a>
				</li>
				<li>
					<a href="#">
						<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 24 24">
							<path d="M19,3H5C3.895,3,3,3.895,3,5v14c0,1.105,0.895,2,2,2h14c1.105,0,2-0.895,2-2V5C21,3.895,20.105,3,19,3z M9,17H6.477v-7H9 V17z M7.694,8.717c-0.771,0-1.286-0.514-1.286-1.2s0.514-1.2,1.371-1.2c0.771,0,1.286,0.514,1.286,1.2S8.551,8.717,7.694,8.717z M18,17h-2.442v-3.826c0-1.058-0.651-1.302-0.895-1.302s-1.058,0.163-1.058,1.302c0,0.163,0,3.826,0,3.826h-2.523v-7h2.523v0.977 C13.93,10.407,14.581,10,15.802,10C17.023,10,18,10.977,18,13.174V17z"></path>
						</svg>
					</a>
				</li>
				<li>
					<a href="#">
						<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 24 24">
							<path d="M 8 3 C 5.239 3 3 5.239 3 8 L 3 16 C 3 18.761 5.239 21 8 21 L 16 21 C 18.761 21 21 18.761 21 16 L 21 8 C 21 5.239 18.761 3 16 3 L 8 3 z M 18 5 C 18.552 5 19 5.448 19 6 C 19 6.552 18.552 7 18 7 C 17.448 7 17 6.552 17 6 C 17 5.448 17.448 5 18 5 z M 12 7 C 14.761 7 17 9.239 17 12 C 17 14.761 14.761 17 12 17 C 9.239 17 7 14.761 7 12 C 7 9.239 9.239 7 12 7 z M 12 9 A 3 3 0 0 0 9 12 A 3 3 0 0 0 12 15 A 3 3 0 0 0 15 12 A 3 3 0 0 0 12 9 z"></path>
						</svg>
					</a>
				</li>
				<li>
					<a href="#">
						<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 24 24">
							<path d="M21.582,6.186c-0.23-0.86-0.908-1.538-1.768-1.768C18.254,4,12,4,12,4S5.746,4,4.186,4.418 c-0.86,0.23-1.538,0.908-1.768,1.768C2,7.746,2,12,2,12s0,4.254,0.418,5.814c0.23,0.86,0.908,1.538,1.768,1.768 C5.746,20,12,20,12,20s6.254,0,7.814-0.418c0.861-0.23,1.538-0.908,1.768-1.768C22,16.254,22,12,22,12S22,7.746,21.582,6.186z M10,15.464V8.536L16,12L10,15.464z"></path>
						</svg>
					</a>
				</li>
			</ul>
		</div>
	</header>

	<div class="left-panel">
		<a href="~/home/index" class="brand"><img src="~/img/voye-brand-gold.png" alt="Voye Apartment for rent" class="img-fluid" /></a>
		<section class="d-none">
			<button id="showLeft"></button>
		</section>
		<div class="buttonset">
			<button id="showLeftPush">
				<div class="frame">
					<div class="menu-icon">
						<div class="line-1 no-animation"></div>
						<div class="line-2 no-animation"></div>
						<div class="line-3 no-animation"></div>
					</div>
				</div>
			</button>
		</div>
		<a href="~/property/detail#booking" class="cta">Book Now</a>
	</div> *@


	<section class="inner-wrapper-nospace">

		<div class="container-sm">
			<div class="row">
				<!-- Detail -->
				<div class="col-md-12">
					<div class="section-head pb-4">
						<h3 class="line">VOYE Terms & Conditions</h3>
					</div>
				</div>
			</div>
			<div class="terms">
				<div class="wrapper">
				@* <h4><strong>WHO ARE WE?</strong></h4>

				<p>VOYE HOMES is a branded holiday home network, completely owned and operated by voye.in Travel Automations India Private Limited, a company registered under the Companies Act - 2013, with a registered office at Room No. I - 4, First Floor, Neospace II (SDF), Kinfra Techno Industrial Park, Kakkencheri, Kerala &ndash; 673635.&nbsp;</p>

				<p>&nbsp;</p>
				<h4><strong>BASIC TERMINOLOGY</strong></h4>
					<p><strong>VOYE VACATION HOME RENTAL LLC ("VOYE HOMES")</strong> is a company that provides villas, holiday homes, service apartments, and/or their individual rooms to guests, primarily for residential purposes, under the brand name "VOYE HOMES". The following Terms and Conditions are applicable to all guests or customers who make bookings for any of the properties (defined below) or their individual rooms through our website, third-party websites or applications, or through any travel agents, third parties, advertisements, referrals, etc. (collectively referred to as "Booking Channels").</p>
					<p>All guests should ensure to read and understand all the Terms and Conditions stated on our website before using this website and making a booking through any of the Booking Channels. These Terms and Conditions shall be applicable to guests making a booking through any of the Booking Channels. If you do not agree to any of these Terms and Conditions of Use, please refrain from using this website/Booking Channels and do not make a Booking for any of the Properties. Please note that the restated Terms and Conditions shall be effective immediately upon posting. VOYE HOMES may also make improvements or changes to the services provided by it, as described on this website/Booking Channels, at any time without notice. Therefore, you are advised to regularly check for any amendments or updates to these Terms and Conditions. If the changes are not agreeable to you, you must stop using the website. Your continued use of this website will imply your acceptance of the revised terms.</p>
					<p>Your reservation and the accommodation agreement made with us involving the Property (whether made by you directly with the Operator or via a third party such as a travel agent, online travel platforms) will be subject to these Reservation Terms and Conditions and the House Rules as set out herein.</p>
					<p>When you make your reservation, whether online or by telephone, you will be deemed to have read, understood and accepted these Reservation Terms and Conditions and the House Rules.</p>
					<p>If you make your reservation via a travel agent, or other third party, then you might have a separate legal relationship with that party and we shall have no liability for any acts or omissions of such party including their compliance or non-compliance with the RESERVATION PRIVACY POLICY as set forth in Section 9 below.</p>
					<p>When you make your reservation, you will be also deemed to have read, understood and accepted the terms and conditions mentioned in website (which shall mean www.voyehomes.com and the related web pages accessible from it) and any relevant terms and conditions shall be deemed to be incorporated into your reservation and the accommodation agreement with us.</p>
					<p><strong>For the purpose of online as well as offline bookings made through our platform, the terms used in these Terms and Conditions have the following meanings:</strong></p>
					<p><strong>(a) "Property/Properties/holiday home"</strong> shall mean and include villas, bungalows, farmhouses, holiday homes, service apartments, and/or their individual rooms available for booking on any of the Booking Channels. The licensed holiday home designated in your reservation</p> *@


				<h4><strong>WHO ARE WE?</strong></h4>

				<p>VOYE HOMES is a branded holiday home network, completely owned and operated by VOYE VACATION HOME RENTAL LLC, a company with a registered office at VOYE VACATION HOME RENTAL LLC, Office 37, Second Floor, Dubai Shopping Centre, Deira, Dubai, UAE.</p>

				<p>&nbsp;</p>

				<h4><strong>BASIC TERMINOLOGY</strong></h4>

				<p>&nbsp;</p>

				<p><strong>VOYE VACATION HOME RENTAL LLC (&quot;VOYE HOMES&quot;)</strong> is a company that provides villas, holiday homes, service apartments, and/or their individual rooms to guests, primarily for residential purposes, under the brand name <strong>&quot;VOYE HOMES&quot;</strong>. The following Terms and Conditions are applicable to all guests or customers who make bookings for any of the properties (defined below) or their individual rooms through our website, third-party websites or applications, or through any travel agents, third parties, advertisements, referrals, etc. (collectively referred to as &quot;Booking Channels&quot;).</p>

				<p>&nbsp;</p>

				<p>All guests should ensure to read and understand all the Terms and Conditions stated on our website before using this website and making a booking through any of the Booking Channels. These Terms and Conditions shall be applicable to guests making a booking through any of the Booking Channels. If you do not agree to any of these Terms and Conditions of Use, please refrain from using this website/Booking Channels and do not make a Booking for any of the Properties. Please note that the restated Terms and Conditions shall be effective immediately upon posting. VOYE HOMES may also make improvements or changes to the services provided by it, as described on this website/Booking Channels, at any time without notice. Therefore, you are advised to regularly check for any amendments or updates to these Terms and Conditions. If the changes are not agreeable to you, you must stop using the website. Your continued use of this website will imply your acceptance of the revised terms.</p>

				<p>Your reservation and the accommodation agreement made with us involving the Property (whether made by you directly with the Operator or via a third party such as a travel agent, online travel platforms) will be subject to these Reservation Terms and Conditions and the House Rules as set out herein.</p>

				<p>When you make your reservation, whether online or by telephone, you will be deemed to have read, understood and accepted these Reservation Terms and Conditions and the House Rules.</p>

				<p>If you make your reservation via a travel agent, or other third party, then you might have a separate legal relationship with that party and we shall have no liability for any acts or omissions of such party including their compliance or non-compliance with the RESERVATION PRIVACY POLICY as set forth in Section 9 below.</p>

				<p>When you make your reservation, you will be also deemed to have read, understood and accepted the terms and conditions mentioned in website (which shall mean www.voyehomes.com and the related web pages accessible from it) and any relevant terms and conditions shall be deemed to be incorporated into your reservation and the accommodation agreement with us.</p>

				<p>&nbsp;</p>

				<p><strong>For the purpose of online as well as offline bookings made through our platform, the terms used in these Terms and Conditions have the following meanings: </strong></p>

				<p>&nbsp;</p>

				<p><strong>(a) </strong>&quot;<strong>Property/Properties/holiday home</strong>&quot; shall mean and include villas, bungalows, farmhouses, holiday homes, service apartments, and/or their individual rooms available for booking on any of the Booking Channels.<strong> </strong>The licensed holiday home designated in your reservation</p>

				<p><strong>(b) &quot;Guest/Guests</strong>&quot; refers to any individuals, companies, or other entities who express interest in making a booking in respect of any of the Properties through any Booking Channels. Guests may be referred to as &quot;you&quot; or &quot;your&quot; in the given context.<strong> </strong>Guest(s): Individual(s) or group(s) with a confirmed booking from the Operator for temporary accommodation.</p>

				<p><strong>(c) </strong>&quot;<strong>Booking</strong>&quot; means a reservation made by any Guest in respect of any of the Properties for the purpose of stay.<strong> </strong></p>

				<p><strong>Check-In/Check-Out:</strong></p>

				<ul>
					<li><strong>Check-In time:</strong> From 3:00 PM</li>
					<li>
						<strong>Check-Out time:</strong> By 11:00 AM<br />
						Early check-in or late check-out requests are subject to availability and may incur additional fees.
					</li>
				</ul>

				<p><strong>(d) </strong>&quot;<strong>Check-In</strong>&quot; is the scheduled date and time on or before which the Guests shall be liable to comply with all the check-in formalities as required by operator, and after completion of such formalities, the Guest shall be entitled to start using the concerned property.<strong> </strong></p>

				<p><strong>(e) </strong>&quot;<strong>Check-Out</strong>&quot; is the scheduled date and time on which the Guest will have to vacate the concerned Property after completion of all the check-out formalities as required by operator.<strong> </strong></p>

				<p><strong>(g) </strong>&quot;<strong>Booking Amount</strong>&quot; shall mean the total amount payable by the Guest to operator for confirmation of the Booking through the registered mode of payment, as may be intimated by operator to the Guest.</p>

				<p><strong>(h</strong>)&nbsp; Advance&quot; is the non-refundable amount required to be deposited by Guests with operator as a deposit for putting a Booking on Hold (as stated hereinbelow) in respect of a property.</p>

				<p><strong>(i)</strong> <strong>Operator / We / voye homes:</strong> VOYE VACATION HOME RENTAL LLC or collectively called as VOYE HOMES, is a Dubai-based holiday home rental service, licensed under DET license no <strong>1391287.</strong></p>

				<p><strong>(j)</strong> <strong>Visitors:</strong> Individuals who are visiting the property but are not registered to stay overnight unless they have a separate confirmed booking;</p>

				<p><strong>(k)</strong> <strong>DET:</strong> Department of Economy and Tourism of Dubai;</p>

				<p><strong>(l)</strong> <strong>VAT: </strong>5% Value Added Tax set by the government;</p>

				<p><strong>(m)</strong> <strong>Security Deposit:</strong> A sum of money held in reserve by the Operator or a third-party booking platform, such as Booking.com, Airbnb, to cover potential damages, losses, or additional charges incurred during a guest&rsquo;s stay.</p>

				<p><strong>(n) TDF</strong>: Tourism Dirham Fee charged by DET.</p>

				<p>&nbsp;</p>

				<h5><strong>2. RIGHTS OF PROPERTY USAGE</strong></h5>

				<p>&nbsp;</p>

				<p><strong>2.1</strong> Guests agree to rent the Property as specified on the Reservation Form. Any extension or rate adjustment requires prior written approval from the Operator.</p>

				<p><strong>2.2</strong> Guests are granted limited permission to use the Property solely for temporary accommodation purposes. This agreement is not to be considered a residential tenancy under Dubai&rsquo;s residential tenancy laws.</p>

				<p><strong>2.3</strong> The Property may not be sublet, assigned, or used by anyone other than the Guests without prior written consent from the Operator.</p>

				<p><strong>2.4</strong> All Guests and Visitors under 19 must be accompanied by an adult during check-in and throughout their stay.</p>

				<p><strong>2.5</strong> Valid identification, such as Emirates ID or Passport, is required at check-in. The same may be requested at any time for identity verification.</p>

				<p><strong>2.6</strong> The credit/debit card used for booking must be presented at check-in for payment validation. Bookings made with an invalid card may be cancelled.</p>

				<p>&nbsp;</p>

				<h5><strong>3. RESERVATION</strong></h5>

				<p>Reservations and services are deemed confirmed and guaranteed only upon:</p>

				<p><strong>3.1</strong> Reservations are confirmed upon full payment of all charges including rent, security deposit, and applicable fees and taxes, if any.</p>

				<p><strong>3.2</strong> Guest will receive a confirmation email from the Operator with details, including the Booking/Reservation number. If the booking was made through a Travel Agent or Online Travel Agent, the confirmation will be sent by that third party.</p>

				<p><strong>3.3</strong> Online check-in formalities and outstanding payments should be completed before check-in. Guests are not permitted to check-in if these are pending.</p>

				<p>&nbsp;</p>

				<h5><strong>4. SECURITY DEPOSIT, DAMAGES, CHARGES.</strong></h5>

				<p>Guests are primarily responsible for any damages to the Property or its contents caused intentionally or negligently by them, their Visitors, or pets. A security deposit will be collected to cover potential damages, missing items, penalties, or services rendered during the stay. If no security deposit is collected, Guests remain fully liable for costs incurred due to such issues.</p>

				<p><strong>4.1</strong> Deposits paid by card are refunded to the original card within 10 to 14 banking days, subject to processing times by banks.</p>

				<p><strong>4.2</strong> Security deposits paid in cash may be refunded in a different currency based on the current exchange rate.</p>

				<p><strong>4.3</strong> The security deposit collected by the Operator may be used to offset expenses incurred due to the actions of the Guest or their Visitors, under the conditions outlined below:</p>

				<p><strong>4.4</strong> Damage Repair and Replacement: This includes costs to repair or replace damaged or missing items within the property, such as furniture, appliances, and fixtures. It also covers damage to external areas like balconies, terraces, backyards, patios, neighbouring properties, and community common areas.</p>

				<p><strong>4.5</strong> Key and Access Device Replacement: Costs associated with replacing lost or damaged keys, access cards, or remote controls.</p>

				<p><strong>4.6</strong> Excessive Cleaning Fees: Charges for additional cleaning services required due to excessive dirt or waste within the property, including stains on carpets, sofas, furniture, walls, and appliances.</p>

				<p><strong>4.7</strong> Special Cleaning Charges: Fees for laundry services or special cleaning necessitated by prohibited activities like smoking inside the property.</p>

				<p><strong>4.8</strong> Penalties for Misconduct: Fees or penalties resulting from violations such as smoking inside the property, causing noise disturbances, neighbour disturbances, security breaches, or engaging in illegal or commercial activities. These penalties may be imposed by the Operator, community management, or local authorities such as Dubai Police, DED, DTCM, or other relevant bodies.</p>

				<p><strong>4.9</strong> Charges for Additional Services: Costs for additional services like video on demand, upgrades to internet/cable channels, or charges for mobile/international calls made using the property&rsquo;s telecommunications facilities.</p>

				<p><strong>4.10</strong> Fines and Penalties by Authorities: Any fines or penalties levied by community management or governmental authorities for non-compliance with community guidelines or local regulations.</p>

				<p><strong>4.11</strong> Ordered Services or Items: Charges for any services or items ordered through the Operator during the stay.</p>

				<p><strong>4.12</strong> Early/Late Access Fees: Charges related to unauthorized early arrivals or late departures, including fees incurred due to delays or damages hindering the Operator&rsquo;s staff during their regular operations. Additionally, such delays resulting in the need for another guest&rsquo;s relocation or compensation may also incur charges.</p>

				<p><strong>4.13</strong> If the collected Security Deposit amount is insufficient to cover any/all of incurred charges as mentioned above, the Guest shall immediately pay upon demand the remaining balance to the Operator to cover the shortfall.</p>

				<p>&nbsp;</p>

				<h5><strong>5. CHECK-IN FORMALITIES</strong></h5>

				<p>Guests will not be allowed to check into the property before or at the time of check-in unless they comply with all the prescribed requirements. If the guests do not comply with the prescribed requirements, no refund of the Booking Amount/Deposit paid by the guests or any compensation of any nature or amount shall be claimable by the guests or payable by VOYE HOMES to the guests or anyone else.</p>

				<p>
					<br />
					<strong>5.1</strong> Guests must provide Booking Confirmation issued by VOYE HOMES along with the proof/details of payment of the entire Booking Amount.<br />
					<strong>5.2</strong> In compliance with government security regulations, every guest staying at the properties will be required to provide original government-issued photo IDs for verification, as well as a copy of the photo IDs, on or before check-in.<br />
					<strong>5.3</strong> Guests must enter the names, addresses, and other details of all guests, including children, in the Online Guest Register kept at the respective properties and/or maintained digitally.<br />
					<strong>5.4</strong> In case any guest has provided incorrect and false information at the time of Booking, VOYE HOMES shall be entitled to forthwith revoke Booking, and refuse entry to Property and if the Guests have already Checked-In, then they shall be evicted from the Property by any of the representatives of VOYE HOMES. In such cases the Deposits/ Booking Amount paid by the Guests shall not be refunded nor shall any compensation of any kind or nature be paid by VOYE HOMES to the Guest.
				</p>

				<p><strong>5.5</strong> At the time of Check In or during the stay, the total number of Guests along with visitors of the Guests must not exceed the number stated at the time of making the booking. VOYE HOMES may permit, at its sole discretion, additional persons to stay at the Property, at an additional cost. No additional persons will be allowed unless a written acceptance is issued by VOYE HOMES.</p>

				<p>&nbsp;</p>

				<h5><strong>6. RATES, CURRENCY &amp; TAXES</strong></h5>

				<p><strong>6.1</strong> Value Added Tax (VAT): All final rent and service rates are subject to a 5% VAT.</p>

				<p><strong>6.2</strong> Tourism Dirham Fee (TDF): The TDF is applicable for the first 30 consecutive nights from the check-in date.</p>

				<p><strong>6.3</strong> Long-Term Stays: Each reservation is valid for a maximum of three months as per the DET regulations. Subsequent renewals will require a new reservation and the TDF will be applicable again.</p>

				<p><strong>6.4</strong> Currency and Exchange Rates: The default currency for transactions is the UAE Dirham (AED). If payment is made in a currency other than AED, the Operator will apply custom rates based on the current exchange rate. Please note, these rates are for reference only and the actual charge on your payment card may vary due to currency fluctuations. Additionally, any refunds will be subject to the exchange rate at the time of the refund, which may differ from the rate at the time of payment.</p>

				<p><strong>6.5</strong> International Transactions and Bank Fees: If payment is made via international wire transfer, the Guest is responsible for covering all associated bank fees at check-in, including any discrepancies due to bank processing fees or exchange rate differences.</p>

				<p>&nbsp;</p>

				<h5><strong>7. CANCELLATION, CHANGES &amp; REFUNDS</strong></h5>

				<p>All rental payments, partial down-payments, reservation/booking and all other sort of service payments are non-refundable for any reason; all reservations are non-transferrable to any other party and non-amendable.</p>

				<p><strong>7.1</strong> In case of Cancellation, change request or no-show, a fee equivalent to the value of the entire stay will be levied by Operator.</p>

				<p><strong>7.2</strong> Security Deposit payment is fully refundable, subject to Reservation Terms.</p>

				<p><strong>7.3</strong> If the reservation is cancelled by the Operator for no valid reason then the entire amount will be refunded to the Guest with no other liabilities.</p>

				<p><strong>7.4</strong> Neither the Operator nor the Guest will be liable for any change or cancellation of any reservation that is caused, in whole or in part, by events, occurrences, or causes beyond the control of either Party. Such events, occurrences, or causes include, without limitation, acts of God, terrorist activities, weather, strikes, lockouts, riots, acts of war, earthquake, volcanic activity, ash clouds, tsunamis, fire and explosions &ldquo;Force Majeure&rdquo;). Notwithstanding the foregoing, any failure, or delay in the performance of each party&rsquo;s obligations arising out of or related to the COVID-19 or any other pandemics or natural disasters, except payment of rental fees or charges, shall be excused even if the same does not constitute a force majeure event.</p>

				<p>&nbsp;</p>

				<h5><strong>8. PENALTIES AND EVICTION</strong></h5>

				<p>Pursuant to applicable laws and regulations, the Operator reserves the right to forfeit the Security Deposit and to immediately evict the Guest and their Visitors from the Property upon the occurrence of any of the following breaches:</p>

				<p>&nbsp;</p>

				<p><strong>8.1</strong> Excessive noise, including loud music or parties, particularly between the hours of 10:00 PM and 8:00 AM.</p>

				<p><strong>8.2 </strong>Trespassing or obstructing security barriers or gates, illegal parking, or using offensive language towards community or Operator&rsquo;s staff.</p>

				<p><strong>8.3</strong> Smoking within the Property.</p>

				<p><strong>8.4</strong> Engaging in illegal activities, causing disturbances, damaging property, or unauthorized access to neighboring properties or community areas.</p>

				<p><strong>8.5</strong> Discovery of animal residue during post-checkout inspections, resulting in a mandatory cleaning charge of a minimum of AED 2500 for holiday homes.</p>

				<p><strong>8.6</strong> Improper disposal of garbage.</p>

				<p><strong>8.7</strong> Verbal or physical abuse directed towards the Operator&rsquo;s staff or Building/Community Staff.</p>

				<p><strong>8.8</strong> Any violation of Community Rules that results in a fine being imposed on the Operator.</p>

				<p>&nbsp;</p>

				<h5><strong>9. LIABILITY AND IDEMNIFICATION</strong></h5>

				<p>The Guest agrees to indemnify and hold the Operator harmless against any liabilities, including but not limited to loss, theft, damage to personal belongings, or any harm, illness, or death that occurs to Guests or Visitors during their stay. Under no circumstances will the Operator be liable to refund any unused portion of booked accommodations or services.</p>

				<p>In the event of a catastrophe or any force majeure event such as hurricanes, tornadoes, earthquakes, floods, fires, or other uncontrollable circumstances that impair the rental property, the Operator is not responsible for securing alternative lodging or for any financial losses related to transportation or alternative accommodations. Consequently, there will be no refunds or credits issued for emergency evacuations or similar incidents.</p>

				<p>&nbsp;</p>

				<h5><strong>10. RESERVATION PRIVACY POLICY</strong></h5>

				<p><strong>10.1</strong> The personal data (including copies of passport, valid IDs, and similar documents) you provide to the Operator directly or through this website in the course of the reservation process will be referred to in this Reservation Privacy Policy as the &ldquo;Reservation Data&rdquo;.</p>

				<p><strong>10.2</strong> The Guest understood that it is necessary for the Operator to process the Reservation Data so that your reservation with the Property can be fulfilled and to take all necessary steps that involves including amongst others, transmitting the Reservation Data to the building/community management where the Property is located and to the Department of Economy and Tourism of Dubai for registration purposes. Furthermore, as and whenever requested by CID/Dubai Police or other official authorities, the Guest understood that the Operator is legally bound to share such Reservation Data.</p>

				<p><strong>10.3</strong> On receipt of the Reservation Data, the Operator will become a data controller of the Reservation Data and will use it for all purposes necessary to fulfil your reservation including contacting you prior to your stay. The Operator will not use the Reservation Data for any purpose other than fulfilling your reservation and will need your specific consent to use it for any other purpose.</p>

				<p><strong>10.4</strong> Operator will only store the Reservation Data for as long as is necessary to fulfil your reservation. The Reservation Data will be destroyed, anonymized and/or deleted once your reservation has been fulfilled and all payment and administrative matters have been completed but in no case less than five (5) years from receipt thereof.</p>

				<p>&nbsp;</p>

				<h5><strong>11. FINANCIAL FRAUD</strong></h5>

				<p>Operator will not be liable for any credit/ debit card fraud. The liability for use of a card fraudulently will be on you and the onus to prove otherwise will be exclusively on you.</p>

				<p>&nbsp;</p>

				<h5><strong>12. GUEST ISSUES</strong></h5>

				<p>Guests must understand and agree that Operator makes all reasonable efforts to provide and post realistic pictures of the property. In case the description or depiction of the property is materially inaccurate with respect to the size of the property as perceived by the guests, Operator shall not be held responsible or liable.</p>

				<p>During the Booking, if the amenities like decks, pools, hot tubs, bathrooms (toilet/shower/bathtub), kitchen (sink/stove/refrigerator or major other appliances), and electrical, heating or air condition systems are not present as displayed in the pictures on our Booking Channels or are not functioning properly or if the Guests are not satisfied with cleanliness including but not limited to clean bedding, towels etc. or if the Guests come across issues related to insects, unpleasant odor, or any deficiency of services and amenities like electricity, gas, water, swimming pool, wifi, medical box, electronic appliances etc. at the Property, Guests shall bring the same to the notice of Operator in writing or via telephone or whatsapp and provide us with information (including photographs or other evidence) about the same within 12hours from the Check In time. Operator shall make its best efforts to resolve these issues but it shall not be held responsible or liable if the same are not resolved in due time. Guests understand that VOYE HOMES shall not in any way be liable to refund or compensate the Guests in case the issues are not resolved. The decision of Operator in all such matters will be final.</p>

				<p>&nbsp;</p>

				<h5><strong>13. POLICY AMENDMENTS</strong></h5>

				<p>Operator reserves the right to amend any and all our Terms and Conditions, Cancellations/Refund/Postponement, Privacy policies from time to time, without any notice. Therefore, you are advised to regularly check for any amendments or updates to these Terms and Conditions. If the changes are not agreeable to you, you must stop using the website.</p>

				<p>&nbsp;</p>

				<h5><strong>14. GOVERNING LAW AND JURISDICTION</strong></h5>

				<p>These Reservation Terms and Conditions are governed by the laws of the emirate of Dubai and the UAE Federal Laws to the extent applicable to the said emirate. Any dispute shall be finally resolved within the exclusive jurisdiction of the regular courts in Dubai.</p>

				<p>&nbsp;</p>

				<p><em>*These terms and conditions were last modified on 10/08/2024.</em></p>



			</div>
			</div>
		</div>

	</section>




	@* <section class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-5">
							<img src="img/voye-gold.png" alt="Voye homes">
						</div>
						<div class="col-md-7">
							<h4>Wiser choice for your next gateway!</h4>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6">
							<ul>
								<li><a href="#">About us</a></li>
								<li><a href="#">Contact us</a></li>
								<li><a href="#">Partner with us</a></li>
								<li><a href="#">Gift Card</a></li>
								<li><a href="#">Blog</a></li>
							</ul>
						</div>
						<div class="col-md-6">
							<ul>
								<li><a href="#">Terms & Conditions</a></li>
								<li><a href="#">Cancellations & Refund Policy</a></li>
								<li><a href="#">Jobs and Internships</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="row connects">
				<div class="connects-head">
					<div class="title">Booking avaible anytime</div>
					<div class="social">
						<ul>
							<li>
								<a href="#">
									<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 24 24">
										<path d="M19,3H5C3.895,3,3,3.895,3,5v14c0,1.105,0.895,2,2,2h7.621v-6.961h-2.343v-2.725h2.343V9.309 c0-2.324,1.421-3.591,3.495-3.591c0.699-0.002,1.397,0.034,2.092,0.105v2.43h-1.428c-1.13,0-1.35,0.534-1.35,1.322v1.735h2.7 l-0.351,2.725h-2.365V21H19c1.105,0,2-0.895,2-2V5C21,3.895,20.105,3,19,3z"></path>
									</svg>
								</a>
							</li>
							<li>
								<a href="#">
									<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 24 24">
										<path d="M19,3H5C3.895,3,3,3.895,3,5v14c0,1.105,0.895,2,2,2h14c1.105,0,2-0.895,2-2V5C21,3.895,20.105,3,19,3z M9,17H6.477v-7H9 V17z M7.694,8.717c-0.771,0-1.286-0.514-1.286-1.2s0.514-1.2,1.371-1.2c0.771,0,1.286,0.514,1.286,1.2S8.551,8.717,7.694,8.717z M18,17h-2.442v-3.826c0-1.058-0.651-1.302-0.895-1.302s-1.058,0.163-1.058,1.302c0,0.163,0,3.826,0,3.826h-2.523v-7h2.523v0.977 C13.93,10.407,14.581,10,15.802,10C17.023,10,18,10.977,18,13.174V17z"></path>
									</svg>
								</a>
							</li>
							<li>
								<a href="#">
									<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 24 24">
										<path d="M 8 3 C 5.239 3 3 5.239 3 8 L 3 16 C 3 18.761 5.239 21 8 21 L 16 21 C 18.761 21 21 18.761 21 16 L 21 8 C 21 5.239 18.761 3 16 3 L 8 3 z M 18 5 C 18.552 5 19 5.448 19 6 C 19 6.552 18.552 7 18 7 C 17.448 7 17 6.552 17 6 C 17 5.448 17.448 5 18 5 z M 12 7 C 14.761 7 17 9.239 17 12 C 17 14.761 14.761 17 12 17 C 9.239 17 7 14.761 7 12 C 7 9.239 9.239 7 12 7 z M 12 9 A 3 3 0 0 0 9 12 A 3 3 0 0 0 12 15 A 3 3 0 0 0 15 12 A 3 3 0 0 0 12 9 z"></path>
									</svg>
								</a>
							</li>
							<li>
								<a href="#">
									<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 24 24">
										<path d="M21.582,6.186c-0.23-0.86-0.908-1.538-1.768-1.768C18.254,4,12,4,12,4S5.746,4,4.186,4.418 c-0.86,0.23-1.538,0.908-1.768,1.768C2,7.746,2,12,2,12s0,4.254,0.418,5.814c0.23,0.86,0.908,1.538,1.768,1.768 C5.746,20,12,20,12,20s6.254,0,7.814-0.418c0.861-0.23,1.538-0.908,1.768-1.768C22,16.254,22,12,22,12S22,7.746,21.582,6.186z M10,15.464V8.536L16,12L10,15.464z"></path>
									</svg>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 p-0">
					<div class="row m-0">
						<div class="d-flex">
							<a href="#" class="normal">reservations@voye.in</a>
							<a href="#" class="normal">+971 01 234 5678</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 p-0">
					<div class="row">
						<div class="col-md-12">
							<p class="copyrights text-right">Copyright VOYE Homes 2024. All Rights Reserved</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
</body>
</html> *@
