<section class="inner-wrapper-nospace">

	<div class="container-sm">
		@* <div class="row">
			<!-- Detail -->
			<div class="col-md-12">
				<div class="section-head pb-4">
					<h3 class="line">VOYE Terms & Conditions</h3>
				</div>
			</div>
		</div> *@
		<div class="terms">
			<div class="wrapper">
				<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" /><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>
				<h3>Thank you !</h3>
				<p>We have received your enquiry. We will contact you soon.</p>
				<div class="adition mt-5">
					<a href="tel:@General.GetSettingsValue("business_phone")" class="btn btn-default call mb-3">Call us: @General.GetSettingsValue("business_phone")</a><br>
					<p>Email us for any enquiry to <a href="mailto:reservations@voye.in">reservations@voye.in</a></p>
				</div>
			</div>
		</div>
	</div>

</section>